In [1]:
import pandas as pd

In [2]:
propiedades = pd.read_excel("Huspy Case.xlsx", sheet_name='Props')
estadisticas = pd.read_excel("Huspy Case.xlsx", sheet_name='Estadisticas')
clientes = pd.read_excel("Huspy Case.xlsx", sheet_name='Clientes', header=1)

In [31]:
propiedades = propiedades[['Nombre de la calle','Planta','Zona','Localidad','Venta o Alquiler',
             'Precio','Codigo de la propiedad','Tipo','Dorm','Baños','m²','Fecha alta']]

In [32]:
propiedades.drop_duplicates(subset='Codigo de la propiedad', keep='first', inplace=True)

In [ ]:
propiedades['Venta o Alquiler'].replace({'Enta':'Venta'}, inplace=True)

C:\Users\elope\AppData\Local\Temp\ipykernel_19200\1270324792.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  propiedades['Venta o Alquiler'].replace({'Enta':'Venta'}, inplace=True)

In [ ]:
propiedades['Precio'] = propiedades['Precio'].astype(str).str.replace(r'\.', '', regex=True)  # Elimina los puntos
propiedades['Precio'] = propiedades['Precio'].str.replace('€/mes', '', regex=True).str.replace('€', '', regex=True).str.strip()
propiedades['Precio'] = propiedades['Precio'].astype(int)

In [47]:
propiedades_madrid = propiedades[propiedades['Localidad'] == 'Madrid']

In [49]:
propiedades_madrid['Zona'].value_counts()

Zona
Barrio de Salamanca    29
Centro                 27
Hortaleza              17
Moncloa                14
Chamberí               14
Chamartín              12
Fuencarral             11
Retiro                 11
San Blas                6
Barajas                 5
Arganzuela              5
Moratalaz               4
Tetuán                  4
Ciudad Lineal           3
Puente de Vallecas      3
Villa de Vallecas       3
Carabanchel             2
Vicálvaro               2
Usera                   1
Villaverde              1
Latina                  1
Name: count, dtype: int64

In [64]:
estadisticas.head(1)

,COD. IDEALISTA,REFERENCIA INTERNA,VISITAS EN LISTADOS,VISITAS EN DETALLE,COMPARTIDO,ENVÍOS EN ALERTAS,TUS FAVORITOS,CONTACTOS
0,107173892,6ee7f---000,8638,1567,7,6913,213,139

In [65]:
ids_propiedades = propiedades_madrid['Codigo de la propiedad'].unique()
estadisticas_madrid = estadisticas[estadisticas['REFERENCIA INTERNA'].isin(ids_propiedades)]

In [66]:
estadisticas_madrid = pd.merge(propiedades_madrid, estadisticas_madrid, left_on='Codigo de la propiedad', right_on='REFERENCIA INTERNA', how='left')

In [73]:
estadisticas_madrid.groupby(['Zona']).agg({'VISITAS EN LISTADOS':'mean', 'VISITAS EN DETALLE':'mean', 'TUS FAVORITOS':'mean' }).sort_values(by='VISITAS EN DETALLE', ascending=False)

                     VISITAS EN LISTADOS  VISITAS EN DETALLE  TUS FAVORITOS
Zona
Latina                      23786.000000         1659.000000     201.000000
Moratalaz                   76626.000000         1584.750000      87.750000
Villa de Vallecas           61726.666667         1496.333333     106.333333
Tetuán                      26347.500000         1423.500000     124.500000
Carabanchel                 26709.000000         1396.500000     128.500000
Arganzuela                  54703.400000          964.400000      52.800000
Usera                       31633.000000          908.000000      47.000000
Barajas                     30286.166667          799.500000      51.666667
Moncloa                     36405.285714          776.214286      49.571429
Hortaleza                   33903.588235          729.705882      44.058824
Puente de Vallecas          38494.333333          602.333333      34.333333
Fuencarral                  20952.923077          476.384615      30.692308
San Blas                    16134.833333          423.666667      25.166667
Centro                      12009.633333          414.200000      36.133333
Vicálvaro                   25597.500000          409.500000      38.500000
Chamberí                    16571.533333          367.200000      27.066667
Barrio de Salamanca          8747.656250          354.093750      26.468750
Chamartín                   20611.076923          334.000000      20.230769
Retiro                       8778.307692          292.538462      22.384615
Villaverde                  16621.000000          228.000000       8.000000
Ciudad Lineal                5980.000000          146.000000       6.750000